header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  width: 340px;
}

ul li {
  cursor: default;
  padding: 5px;
  color: #7d8597;
}

ul + ul {
  position: absolute;
  background-color: #000;
  color: #fff;
}

.dropdown {
  transition: 0.20s;
  width: 175px;
  height: 95px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 3px 3px 20px 0px #ccc;
  border: 0;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
}

.dropdown .row p {
  color: #7d8597;
  line-height: 25px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown .row {
  flex: 1;
}

.show-dropdown {
  visibility: visible;
  opacity: 1;
}
